.time {
  color: #fff;
  position: absolute;

  top: calc(50% - 20px);
  left: 0;
  right: 0;
  height: 30px;
  font-size: 40px;
  text-align: center;
  margin: 0;
  letter-spacing: 3px;
}

:root {
  --adjust-height: 20%;
}
.content {
  display: flex;
}
.info {
  width: 200px;
  height: 200px;
  background-color: aquamarine;
}
.wrapper {
  width: 300px;
  height: 300px;
  transition: height 0.4s linear;
}
/* waves */
.ocean {
  height: 100%; /* change the height of the waves here */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(79, 99, 215, 0.2);
}

.wave {
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' id='svg' viewBox='0 0 1440 600' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cstyle%3E .path-0%7B animation:pathAnim-0 4s; animation-timing-function: linear; animation-iteration-count: infinite; %7D @keyframes pathAnim-0%7B 0%25%7B d: path('M 0,600 C 0,600 0,200 0,200 C 91.55980861244021,155.2248803827751 183.11961722488041,110.44976076555022 264,127 C 344.8803827751196,143.55023923444978 415.0813397129185,221.4258373205742 523,253 C 630.9186602870815,284.5741626794258 776.5550239234451,269.8468899521531 889,235 C 1001.4449760765549,200.1531100478469 1080.6985645933014,145.1866028708134 1167,136 C 1253.3014354066986,126.8133971291866 1346.6507177033493,163.40669856459328 1440,200 C 1440,200 1440,600 1440,600 Z'); %7D 25%25%7B d: path('M 0,600 C 0,600 0,200 0,200 C 121.15789473684208,209.71291866028707 242.31578947368416,219.42583732057417 337,233 C 431.68421052631584,246.57416267942583 499.8947368421053,264.00956937799043 580,263 C 660.1052631578947,261.99043062200957 752.1052631578947,242.53588516746413 839,218 C 925.8947368421053,193.46411483253587 1007.6842105263158,163.8468899521531 1107,160 C 1206.3157894736842,156.1531100478469 1323.157894736842,178.07655502392345 1440,200 C 1440,200 1440,600 1440,600 Z'); %7D 50%25%7B d: path('M 0,600 C 0,600 0,200 0,200 C 70.71770334928232,175.19617224880383 141.43540669856463,150.39234449760767 241,161 C 340.56459330143537,171.60765550239233 468.97607655502384,217.6267942583732 578,228 C 687.0239234449762,238.3732057416268 776.6602870813397,213.10047846889955 860,212 C 943.3397129186603,210.89952153110045 1020.3827751196172,233.9712918660287 1116,236 C 1211.6172248803828,238.0287081339713 1325.8086124401914,219.01435406698565 1440,200 C 1440,200 1440,600 1440,600 Z'); %7D 75%25%7B d: path('M 0,600 C 0,600 0,200 0,200 C 74.55502392344496,153.74162679425837 149.11004784688993,107.48325358851676 238,129 C 326.8899521531101,150.51674641148324 430.11483253588517,239.8086124401914 550,238 C 669.8851674641148,236.1913875598086 806.4306220095696,143.28229665071768 899,134 C 991.5693779904304,124.71770334928232 1040.1626794258373,199.06220095693783 1123,224 C 1205.8373205741627,248.93779904306217 1322.9186602870814,224.46889952153109 1440,200 C 1440,200 1440,600 1440,600 Z'); %7D 100%25%7B d: path('M 0,600 C 0,600 0,200 0,200 C 91.55980861244021,155.2248803827751 183.11961722488041,110.44976076555022 264,127 C 344.8803827751196,143.55023923444978 415.0813397129185,221.4258373205742 523,253 C 630.9186602870815,284.5741626794258 776.5550239234451,269.8468899521531 889,235 C 1001.4449760765549,200.1531100478469 1080.6985645933014,145.1866028708134 1167,136 C 1253.3014354066986,126.8133971291866 1346.6507177033493,163.40669856459328 1440,200 C 1440,200 1440,600 1440,600 Z'); %7D %7D%3C/style%3E%3Cpath d='M 0,600 C 0,600 0,200 0,200 C 91.55980861244021,155.2248803827751 183.11961722488041,110.44976076555022 264,127 C 344.8803827751196,143.55023923444978 415.0813397129185,221.4258373205742 523,253 C 630.9186602870815,284.5741626794258 776.5550239234451,269.8468899521531 889,235 C 1001.4449760765549,200.1531100478469 1080.6985645933014,145.1866028708134 1167,136 C 1253.3014354066986,126.8133971291866 1346.6507177033493,163.40669856459328 1440,200 C 1440,200 1440,600 1440,600 Z' stroke='none' stroke-width='0' fill='%234f63d788' class='transition-all duration-300 ease-in-out delay-150 path-0'%3E%3C/path%3E%3Cstyle%3E .path-1%7B animation:pathAnim-1 4s; animation-timing-function: linear; animation-iteration-count: infinite; %7D @keyframes pathAnim-1%7B 0%25%7B d: path('M 0,600 C 0,600 0,400 0,400 C 100.55502392344502,431.0526315789474 201.11004784689004,462.10526315789474 300,471 C 398.88995215310996,479.89473684210526 496.11483253588506,466.6315789473684 574,466 C 651.8851674641149,465.3684210526316 710.4306220095694,477.3684210526317 814,470 C 917.5693779904306,462.6315789473683 1066.1626794258375,435.89473684210526 1178,421 C 1289.8373205741625,406.10526315789474 1364.9186602870814,403.0526315789474 1440,400 C 1440,400 1440,600 1440,600 Z'); %7D 25%25%7B d: path('M 0,600 C 0,600 0,400 0,400 C 100,411.4928229665072 200,422.9856459330144 283,416 C 366,409.0143540669856 432,383.5502392344498 534,378 C 636,372.4497607655502 774,386.81339712918657 876,407 C 978,427.18660287081343 1044,453.1961722488038 1132,453 C 1220,452.8038277511962 1330,426.4019138755981 1440,400 C 1440,400 1440,600 1440,600 Z'); %7D 50%25%7B d: path('M 0,600 C 0,600 0,400 0,400 C 104.9090909090909,387.5980861244019 209.8181818181818,375.19617224880386 298,373 C 386.1818181818182,370.80382775119614 457.63636363636374,378.8133971291866 546,394 C 634.3636363636363,409.1866028708134 739.6363636363635,431.55023923444975 853,429 C 966.3636363636365,426.44976076555025 1087.8181818181818,398.9856459330143 1187,390 C 1286.1818181818182,381.0143540669857 1363.090909090909,390.50717703349284 1440,400 C 1440,400 1440,600 1440,600 Z'); %7D 75%25%7B d: path('M 0,600 C 0,600 0,400 0,400 C 62.5263157894737,360.1913875598086 125.0526315789474,320.38277511961724 239,336 C 352.9473684210526,351.61722488038276 518.3157894736843,422.66028708133973 618,450 C 717.6842105263157,477.33971291866027 751.684210526316,460.9760765550239 833,433 C 914.315789473684,405.0239234449761 1042.9473684210527,365.4354066985646 1152,358 C 1261.0526315789473,350.5645933014354 1350.5263157894738,375.28229665071774 1440,400 C 1440,400 1440,600 1440,600 Z'); %7D 100%25%7B d: path('M 0,600 C 0,600 0,400 0,400 C 100.55502392344502,431.0526315789474 201.11004784689004,462.10526315789474 300,471 C 398.88995215310996,479.89473684210526 496.11483253588506,466.6315789473684 574,466 C 651.8851674641149,465.3684210526316 710.4306220095694,477.3684210526317 814,470 C 917.5693779904306,462.6315789473683 1066.1626794258375,435.89473684210526 1178,421 C 1289.8373205741625,406.10526315789474 1364.9186602870814,403.0526315789474 1440,400 C 1440,400 1440,600 1440,600 Z'); %7D %7D%3C/style%3E%3Cpath d='M 0,600 C 0,600 0,400 0,400 C 100.55502392344502,431.0526315789474 201.11004784689004,462.10526315789474 300,471 C 398.88995215310996,479.89473684210526 496.11483253588506,466.6315789473684 574,466 C 651.8851674641149,465.3684210526316 710.4306220095694,477.3684210526317 814,470 C 917.5693779904306,462.6315789473683 1066.1626794258375,435.89473684210526 1178,421 C 1289.8373205741625,406.10526315789474 1364.9186602870814,403.0526315789474 1440,400 C 1440,400 1440,600 1440,600 Z' stroke='none' stroke-width='0' fill='%234f63d7ff' class='transition-all duration-300 ease-in-out delay-150 path-1'%3E%3C/path%3E%3C/svg%3E");

  position: absolute;
  width: 400%;
  height: var(--adjust-height);
  min-height: 10%;
  max-height: 40%;
  animation: wave 20s -7s linear infinite;
  transform: translate3d(0, 0, 0);
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.8;
  margin-bottom: var(--adjust-height);
  transition: all 0.4s linear;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 25s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 30s 1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.wave__footer {
  background: #4f63d7;
  width: 100%;
  height: var(--adjust-height);
  bottom: 0;
  position: absolute;
  opacity: 0.95;
  transition: height 0.4s linear;
}
